{% extends 'base.html' %}
{% load static %}

{% block title %} Papaya-Plaform - Sign In {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}

    <!-- <h1>
        THIS IS THE <span style="color: PURPLE;">LOGIN</span> PAGE!
    </h1> -->

    <form class="login-form" method="POST" action="{% url 'accounts:login' %}">

        {% csrf_token %}

        <h2>Login</h2>

        <!-- possible login errors -->
        {% if errors %}
            <p class="error-message">{{ errors.login_error }}</p>
        {% endif %}

        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>

        <button type="submit">LOGIN</button>

        <p>
            You don't have an account? <a href="{% url 'accounts:register' %}">REGISTER NOW</a>
        </p>


    </form>

{% endblock %}