.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    padding: 30px;
    background: var(--form-background-color);
    box-shadow: var(--form-background-shadow);
    border-radius: var(--form-box-radius);
    gap: var(--form-content-spacing);
}

h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    background:  var(--input-background-color);
    border: none;
    border-radius: var(--input-border-radius);
    outline: none;
    font-size: var(--input-font-size);
    color: var(--input-foreground-color);
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 12px;
    background: var(--button-background-color);
    border: none;
    border-radius: var(--button-border-radius);
    cursor: var(--button-hover-cursor);
    font-size: var(--button-font-size);
    color: var(--button-foreground-color);
    font-weight: var(--button-font-weight);
    margin-bottom: 20px;
    transition: var(--button-transition-time);
}