:root {
    /* body */
    --body-background-color: linear-gradient(45deg, #e2e2e2, #c9d6ff);
    --body-content-color: #333;

    /* form */
    --form-background-color: #fff;
    --form-background-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    --form-box-radius: 10px;
    --form-content-spacing: 20px;

    /* input */
    --input-background-color: #eee;
    --input-border-radius: 8px;
    --input-font-size: 16px;
    --input-foreground-color: #333;

    /* button */
    --button-background-color: #7494ec;
    --button-border-radius: 8px;
    --button-hover-cursor: pointer;
    --button-font-size: 16px;
    --button-font-weight: 500;
    --button-foreground-color: #fff;
    --button-transition-time: 0.5s;

    /* button hover effect */
    --button-hover-background-color: #6884d3;

    /* error messages */
    --error-background-color: #f8d7da;
    --error-foreground-color: #a42834;
    --error-font-size: 16px;
    --error-border-radius: 8px;
}