{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/variables.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    
    
    <title>{% block title %} Papaya - Home Page {% endblock %}</title>
</head>
<body>

    <main>

        <h1>
            Welcome, <span>{{ user.username }}</span>
        </h1>

        <p>Your account details are as follows:</p>

        <div class="user-info">
            <p class="label">FIRST NAME: <span class="name">{{ user.first_name }}</span></p>
            <p class="label">LAST NAME:  <span class="name">{{ user.last_name }}</span></p>
        </div>

        <form method="POST" action="{% url 'accounts:logout' %}">
            {% csrf_token %}
            <button type="submit">LOGOUT</button>
        </form>

    </main>

</body>
</html>